[submodule "themes/hugo-theme-pure"]
	path = themes/hugo-theme-pure
	url = https://github.com/xiaoheiAh/hugo-theme-pure.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "themes/hugo-theme-dream"]
	path = themes/hugo-theme-dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/hugo-theme-zzo"]
	path = themes/hugo-theme-zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
