[submodule "themes/hugo-theme-pure"]
	path = themes/hugo-theme-pure
	url = https://github.com/xiaoheiAh/hugo-theme-pure.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
